* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    background: #eee;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: white;
    height: 56px;
    margin-bottom: 2rem;
}

.header__left {
    margin: 0 2rem;
}

.header__left img {
    height: 20px;
    width: auto;
}

.header__center input {
    height: 30px;
}

.search-icon {
    height: 10px;
}

.video {
    height: 650px;
    text-align: center;
    background: grey;
}

.sidebar {
    background: black;
    height: 100%;
}

.grid {
    height: 100vh;
    width: 100rem;
    grid-gap: 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
}