* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    background: #eee;
}


/*
=====================================
 HEADER
=====================================
*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: white;
    height: 56px;
    margin-bottom: 2rem;
}

.header__left {
    margin: 0 1rem;
}

.header__left img {
    height: 20px;
    width: auto;
    margin: 0 0.5rem;
}

.header__center {
    display: flex;
}

.header__center input {
    width: 550px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 16px;
}

.header__center input,
.header__center button {
    padding: 0.5rem;
    height: 30px;
    border: 1px solid #ddd;
}

.header__center button {
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background: #f4f4f4;
}

.search-icon {
    height: 15px;
}

.header__right {
    margin: 0 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right img {
    height: 20px;
    width: auto;
}

.header__right img,
.header__right button {
    margin: 0 1rem;
}

.button-sign-in {
    padding: 0.5rem;
    border: 1px solid #4285F4;
    color: #4285F4;
    background: white;
    font-weight: 700;
    font-size: 1rem;
}

.three-dots-img {
    height: 10px;
}

.video {
    height: 650px;
    text-align: center;
    background: grey;
}

.sidebar {
    background: black;
    height: 100%;
}

.grid {
    height: 100vh;
    width: 100rem;
    grid-gap: 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
}